.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0;
}

.item img {
    border-radius: 8px 8px 0 0;
    width: 250px;
    height: 200px;
}

/* LABEL */
.input-label {
  color: #333;
  font-weight: 600;
  font-size: 15px;
}

/* SELECT padronizado igual aos inputs */
.styled-select {
  padding: 12px;
  border: 2px solid #d7d7d7;
  font-size: 16px;
  border-radius: 10px;
  width: 100%;
  transition: 0.2s;
  background-color: white;
}

.styled-select:focus {
  border-color: #3f51ff;
  outline: none;
}
